{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Tourney:wght@600&family=Zen+Tokyo+Zoo&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    <title>Linearly</title>
</head>

<body id="body">
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', "{% static '/assets/particles.json' %}", function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-image: rgb(255,255,255,0) ;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}" id="logo">
                <i class="fas fa-code-branch"></i>
                LINEARLY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown" id="default">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sorting
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'bubblesort' %}">Bubble Sort</a></li>
                            <li><a class="dropdown-item" href="{%url 'selectionsort' %}">Selection Sort</a></li>
                            <li><a class="dropdown-item" href="{%url 'insertionsort' %}">Insertion Sort</a></li>
                            <li><a class="dropdown-item" href="{%url 'mergesort' %}">Merge Sort</a></li>
                            <li><a class="dropdown-item" href="{%url 'quicksort' %}">Quick Sort</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" id="default">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Search
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{%url 'linearsearch' %}">Linear Search</a></li>
                            <li><a class="dropdown-item" href="{%url 'binarysearch' %}">Binary Search</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" id="default">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Graphs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'traveller' %}">Travelling Salesman</a></li>
                            <li><a class="dropdown-item" href="{%url 'prim' %}">Prim's Algorithm</a></li>
                            <li><a class="dropdown-item" href="{%url 'kruskal' %}">Kruskal's Algorithm</a></li>
                            <li><a class="dropdown-item" href="{%url 'dijkstra' %}">Dijkstra's Algorithm</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'team' %}">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="rotating-box">
        <div class="single-rb">
            <div class="front-side">
                <img src="{% static 'images/poorvik.png'%}">
            </div>
            <div class="back-side">
                <img src="{% static 'images/rishab.png'%}">
            </div>
            <div class="left-side">
                <img src="{% static 'images/nischal.png'%}">
            </div>
            <div class="right-side">
                <img src="{% static 'images/owais.png'%}">
            </div>
            <div class="top-side">
                
            </div>
            <div class="bottom-side">
                
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6cae5e0834.js" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/pbl.js'%}"></script>
</body>

</html>